/* This is the css section which is linked to index.html and contains the styling of the page */

body {
    background-color: black;
}

h1 {
    color: deeppink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 500%;
    text-align: center;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

h2 {
    color: darkmagenta;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
    text-align: center;

}

h3 {
    color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    text-align: center;

}

p {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    text-align: center;
}

li {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    text-align: center;
    list-style-type: none;
}

a {
    color: deepskyblue;
    display: block;
    width: 150px;
    margin: auto;
}
